@model object
    <div class="radio-toolbar">
        <div class="row" style="padding-left:15px;">
            @foreach (var option in (SelectList)ViewData["options"])
            {
                @Html.RadioButton("", option.Value, Model != null && Model.ToString() == option.Value, new { id = Html.IdFor(m => m) + "_" + option.Value })
                <label for="@(Html.IdFor(m => m))_@(option.Value)">@option.Text</label>

            }
        </div>
        </div>